@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg: #f1f1f1;
    --btn-black: #000;
    --btn-purple: #783faa;
    --big-purple-text: #5a2997b5;
}

* {
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

body {
    background: var(--bg);
    font-family: 'Krub';
    /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-purple {
    background-color: var(--btn-purple);
    color: #fff;
    text-decoration: none;
    padding: .7rem .7rem;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    font-size: .7em;
    letter-spacing: 1px;
}

.btn-black {
    background-color: var(--btn-black);
    color: #fff;
    text-decoration: none;
    padding: .2rem 1rem;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    font-size: .9em;
    letter-spacing: 1px;
}

li {
    list-style-type: square;
    /* display: inline-block; */
    /* margin: 1rem 0; */
}

a {
    text-decoration: none;
    color: #000;
}

.ball-oversized {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-5-withe {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-4-withe {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-3-withe {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-2-withe {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-1-withe {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: -1;
}

.ball-5-purple {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--btn-purple);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
}

.ball-4-purple {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--btn-purple);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
    top: 15%;
}

.ball-3-purple {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--btn-purple);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
}

.ball-2-purple {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--btn-purple);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
}

.ball-1-purple {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--btn-purple);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
}

.big-purple-text {
    font-size: 25rem;
    font-weight: bold;
    color: var(--big-purple-text);
}

.saturate-img {
    filter: saturate(0%);
    object-fit: scale-down;
}

#section-divider {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    z-index: 1;
    flex-wrap: wrap;
    padding: 3rem;
}

.underline {
    height: 2px;
    width: 40px;
    background-color: #000;
    position: absolute;
    top: 12.5rem;
    left: 3.5rem
}

.mid-dark-text {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
}

.mid-white-text {
    font-weight: bold;
    font-size: 5vmin;
    letter-spacing: 1px;
    color: #fff;
}

/* ************************************

************************************* */

#home {
    height: max-content;
    width: 100vw;
    margin-bottom: 5vh;
    position: relative;
}

#home .ball-4-withe {
    top: -6vh;
    left: 12vw;
}

#home .ball-2-withe {
    top: 12vh;
    left: 33vw;
}

#home .ball-4-withe.second {
    top: 65vh;
    left: 20vw;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-size: 2vmin;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 10vmin;
}

header nav {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header nav ul li {
    padding: 0 1rem;
    list-style-type: none;
    font-weight: bold;
}

header .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vmin;
}

header .box a {
    flex-shrink: 0;
    width: max-content;
    margin: 0rem 1rem;
}

header .box svg {
    flex-shrink: 0;
}

.poster {
    position: absolute;
}

/* #home img.saturate-img {
    position: absolute;
    right: 0;
    bottom: -25rem;
    width: 100vmin;
    height: auto;
    object-fit: cover;
    z-index: -1;
} */
#home .big-purple-bordered-box {
    position: absolute;
    top: 15vh;
    right: 0;
    border-top-width: 115px;
    border-right: none;
    border-bottom-width: 115px;
    border-left-width: 80px;
    border-style: solid;
    border-color: var(--big-purple-text);
    border-bottom-left-radius: 9rem;
    border-top-left-radius: 9rem;
    padding: 7vh 25vw;
}

/* main {
    width: 100vw;
} */
main .title {
    width: max-content;
    padding: 1rem 0rem 0rem 3rem;
}

main .title h1 {
    font-weight: 200;
    font-size: 1.7rem;
}

main .title h1 span.big-dark-text {
    font-size: 5rem;
    font-weight: bold;
}

main .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100vw;
    flex-wrap: wrap;
    padding: 0rem 2rem 0rem 3rem;
}

main .content .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 23vw;
}

main .content .content-box .text-box {
    flex-shrink: 0;
    text-align: justify;
}

main .content .content-box .text-box h4 {
    font-size: .95rem;
}

main .content .content-box .text-box p {
    font-size: .7rem;
    font-weight: bold;
    line-height: 1rem;
}

main .content .content-box .text-box p::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #000;
    margin-left: 10px;
}

main .content .other-box {
    width: 10.5vw;
    font-weight: bold;
    font-size: .9rem;
    word-break: keep-all;
}

main .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    margin: 1rem 0rem 0rem 3rem;
    flex-shrink: 0;
}

main .btn-box .btn-purple {
    margin: 0rem 1rem 0rem 0rem;
}

main .btn-box .rdm-btn {
    font-size: .7rem;
    font-weight: bold;
}

main .arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem 0rem 3rem;
}

main .arrows .arrow svg {
    width: 3rem;
    height: 3rem;
}

#section-divider .text-box {
    width: max-content;
    color: #fff;
    font-size: 4vmin;
    font-weight: 100;
    flex-shrink: 0;
}

#section-divider .edition-box {
    width: min-content;
    color: #fff;
    font-size: 4vmin;
    font-weight: 100;
    flex-shrink: 0;
    border: 2px solid #fff;
    padding: .2rem;
    text-align: center;
}

#section-divider .text-box::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin-left: 10px;
}

#new {
    height: 100vh;
}

#transition {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 3rem;
}

#transition .ball-2-withe.left {
    left: 5vmin;
    top: 7vmin;
}

#transition .ball-2-withe.right {
    right: 5vmin;
    top: 7vmin;
}

#transition .ball-5-withe {
    height: 120px;
    width: 120px;
}

#transition .ball-5-withe.left {
    left: 13vmin;
    top: 33vmin;
}

#transition .ball-5-withe.right {
    right: 13vmin;
    top: 33vmin;
}

#transition .ball-3-purple {
    right: 50vmin;
    top: 85vmin;
    box-shadow: none;
    background: var(--big-purple-text);
}

#transition .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    font-size: 4vmin;
}

#transition .main-content .explore {
    height: min-content;
    font-weight: bold;
}

#transition .main-content .explore p::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #000;
    margin-left: 10px;
}

#transition .main-content .slogan {
    position: absolute;
    height: 200px;
    top: -85vmin;
    left: 45vmin;
}

#transition .main-content .slogan p {
    font-size: 80vmin;
}

#transition .next-to-slogan {
    padding-top: 27vmin;
}

#transition img.down-arrow {
    position: absolute;
    bottom: 10vmin;
    left: 45%;
    height: 70px;
    width: auto;
    object-fit: contain;
}

#transition .online-course.left {
    position: absolute;
    bottom: 22vh;
    left: 0;
    font-size: .7rem;
    font-weight: bold;
    transform: rotate(-90deg);
}

#transition .online-course.right {
    position: absolute;
    bottom: 22vh;
    right: 0;
    font-size: .7rem;
    font-weight: bold;
    transform: rotate(-90deg);
}

#transition .online-course::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #000;
    margin-right: 10px;
}

#courses {
    position: relative;
    height: max-content;
}

#courses .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
}

#courses .content-header .title h1 {
    font-weight: 400;
    font-size: 2rem;
}

#courses .content-header .title span.big-dark-text {
    font-size: 5rem;
    font-weight: bold;
}

#courses .content-header .other-box {
    width: 10.5vw;
    font-weight: bold;
    font-size: .9rem;
    word-break: keep-all;
}

#courses .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 3rem 0rem 3rem;
    flex-wrap: wrap;
}

#courses .cards .card {
    width: 250px;
    height: max-content;
    border: #fff 3px solid;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 5rem 0rem 5rem 0rem;
    position: relative;
}

#courses .cards .card.active {
    border: var(--big-purple-text) 3px solid;
}

#courses .cards .card h2 {
    font-weight: 400;
    font-size: 2rem;
}

#courses .cards .card h2 .big-dark-text {
    font-size: 2rem;
    font-weight: bold;
}

#courses .cards .card .underline {
    top: calc(2rem + 60px);
    left: calc(50% - calc(40px / 2));
    height: 3px;
    width: 50px;
}

#courses .cards .card .card-text {
    width: 11rem;
    font-size: .8rem;
    font-weight: bold;
    text-align: justify;
    word-break: break-all;
    line-height: 1.5rem;
    text-align-last: center;
    padding: .5rem 0rem .5rem 0rem;
}

#courses .cards .card .btn-box {
    margin: 1.5rem 0rem 1.5rem 0rem;
}

#courses .cards .card .btn-box .btn-purple {
    font-size: .8rem;
    font-weight: bold;
}

#courses .three-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    object-fit: contain;
    margin-bottom: 5rem;
}

#courses .three-dots .dot {
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #666;
    opacity: .5;
}

#courses .three-dots .dot:nth-child(2n) {
    display: none;
}

#courses .three-dots .dot.active {
    background-color: var(--big-purple-text);
    opacity: 1;
}

#courses .ball-4-purple {
    box-shadow: none;
}

#courses .ball-4-purple.left {
    top: 80%;
    left: -40px;
}

#courses .ball-4-purple.right {
    top: 80%;
    right: -40px;
}

#about {
    position: relative;
    height: max-content;
}

#about .ball-4-withe {
    top: 2rem;
    left: calc(50% - 40px);
}

#about .year {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
}

#about .year .dash {
    height: 3px;
    width: 60px;
    background-color: #000;
    margin: 0rem 1rem 0rem 1rem;
}

#about .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

#about .content .box {
    max-width: 500px;
    width: 100%;
}

#about .content .box.left {
    flex-shrink: 0;
}

#about .content .box.left .title {
    width: max-content;
}

#about .content .box.left .title h2 {
    font-weight: 200;
    font-size: 3rem;
}

#about .content .box.left .title h2 span.big-dark-text {
    font-size: 5rem;
    font-weight: bold;
}

#about .content .box.left .title h2 span.mid-dark-text {
    font-size: 3rem;
    font-weight: bold;
}

#about .content .box.left .text-box p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}

#about .content .box.left .list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

#about .content .box.left .list ul li {
    font-size: 1.05rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 2rem 2rem 2rem 0rem;
}

#about .content .box.left .btn-purple {
    font-size: .8rem;
    font-weight: bold;
    color: #000;
}

#about .content .other-box {
    font-size: 1rem;
    font-weight: bold;
    transform: rotate(90deg);
    margin-top: 25rem;
}

#about .content .box.right {
    background-color: #666;
}

#about .content .box.right .slogan {
    position: absolute;
    height: 200px;
    top: -85vmin;
    right: -9rem;
}

#about .content .box.right .slogan p {
    font-size: 80vmin;
    transform: rotate(90deg);
}

#mini-section-devider {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

#mini-section-devider .ball-5-withe {
    left: 30%;
}

#why-us {
    position: relative;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0rem 3rem 0rem 3rem;
    flex-wrap: wrap;
}

#why-us .boxes {
    width: 45%;
}

#why-us .slogan-box {
    padding: 3rem;
    text-align: center;
    flex-shrink: 1;
}

#why-us .text-box {
    padding: 3rem;
    flex-shrink: 0;
}

#why-us .text-box h2 {
    font-size: 6rem;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

#why-us .text-box p {
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: justify;
}

#why-us .text-box p::after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: #000;
}

#why-us .slogan .big-purple-text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 55vmin;
    text-align: center;
}

#why-us .text-box .btn-box .btn-purple {
    font-size: .8rem;
    font-weight: bold;
    color: #000;
    margin: 2rem 0rem;
}

#why-us .ball-oversized {
    top: -120px;
    right: -85px;
}

#why-us .ball-4-withe {
    bottom: -50px;
    right: 150px;
}

#why-us .other-box {
    font-size: 1rem;
    font-weight: bold;
    transform: rotate(-90deg);
    position: absolute;
    bottom: -60px;
    left: 0;
}



@media screen and (max-width: 768px) {
    #home {
        height: max-content;
    }

    header nav {
        display: none;
    }

    main .title {
        padding: 0rem 0rem 0rem 1rem;
    }

    main .underline {
        left: 1.5rem;
    }

    main .content .content-box .text-box h4 {
        font-size: .9rem;
    }

    main .content {
        padding: 0rem 1rem 0rem 1rem;
    }

    main .btn-box {
        margin: 1rem 0rem 0rem 1rem;
    }

    main .content .content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: min-content;
        width: max-content;
    }

    header .box {
        width: max-content;
    }

    header .box .icon.menu {
        width: 1.4rem;
        height: 1.4rem;
    }

    main .content .other-box {
        width: max-content;
        margin: 0;
    }

    main .content .other-box ul {
        margin: 0;
        padding: 1rem;
    }

    main .arrows .arrow svg {
        width: 2rem;
        height: 2rem;
    }

    #home img.saturate-img {
        position: absolute;
        right: -1rem;
        bottom: -2rem;
        width: 50vmin;
        height: auto;
        object-fit: cover;
        z-index: -1;
    }

    #home .big-purple-bordered-box {
        display: none;
    }

    #section-divider {
        align-items: center;
        justify-content: center;
    }

    #section-divider div {
        margin: .5rem;
    }

    #transition .main-content .slogan {
        position: absolute;
        top: 30vh;
        left: 35vw;
    }

    #transition .main-content .slogan p {
        font-size: 25vmin;
    }

    #transition .ball-3-purple {
        display: none;
    }

    #courses .content-header {
        display: block;
    }

    #courses .cards .card {
        display: none;
    }

    #courses .cards .card.active {
        display: flex;
    }

    #courses .content-header .other-box {
        width: 29vw;
        font-weight: bold;
        font-size: .9rem;
        word-break: keep-all;
    }

    #courses .content-header .other-box ul {
        padding: 0rem 0rem 0rem 1rem;
    }

    #courses .three-dots .dot:nth-child(2n) {
        display: flex;
    }

    #about .content .other-box {
        font-weight: bold;
        transform: rotate(0deg);
        margin-top: 2rem;
    }

    #about .content .other-box ul {
        padding: 1rem;
    }

    #about .content .box.right {
        display: none;
    }

    #why-us {
        flex-direction: column;
        align-items: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    #why-us .boxes {
        /* padding: 3rem; */
        width: 100%;
    }

    #why-us .slogan p {
        font-size: 25vmin;
    }

    #why-us .text-box p {
        width: 100%;
    }

    #why-us .other-box {
        transform: rotate(0);
        padding-left: 2rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    main .content .content-box {
        width: 100vw;
        align-items: flex-start;
    }

    main .content .content-box .text-box p {
        width: 350px;
    }

    main .content .other-box {
        width: max-content;
        margin: 0;
    }

    main .content .other-box ul {
        margin: 0;
        padding: 1rem;
    }

    #home img.saturate-img {
        position: absolute;
        right: -2rem;
        bottom: -2rem;
        width: 70vmin;
        height: auto;
        object-fit: cover;
        z-index: -1;
    }

    #home .big-purple-bordered-box {
        position: absolute;
        top: 10vh;
        right: 0;
        border-top-width: 115px;
        border-right: none;
        border-bottom-width: 115px;
        border-left-width: 80px;
        border-style: solid;
        border-color: var(--big-purple-text);
        border-bottom-left-radius: 9rem;
        border-top-left-radius: 9rem;
        padding: 7vh 19vw;
    }

    #about .content .other-box {
        font-weight: bold;
        transform: rotate(0deg);
        margin-top: 2rem;
    }

    #about .content .box.right {
        display: none;
    }

    #courses .cards .card:last-child {
        display: none;
    }

    #why-us {
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem 1rem 0rem 1rem;
    }

    #why-us .boxes {
        width: 100%;
    }

    #why-us .text-box p {
        width: 80%;
    }

    #why-us .slogan .big-purple-text {
        font-size: 40vmin;
    }

    #why-us .other-box {
        transform: rotate(0);
        padding-left: 2rem;
    }
}